*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;


}
.aLogo{
    height: 50px;
    width: 140px;
}
.logo{
    background-image: url('images/Amazon.png');
    background-size: cover;
        height: 50px;
    width: 140px;
 
}
.border{
    border: transparent solid 1.5px;
}
:hover.border{
    border: white solid 1.5px;
}
.adr-first{
    color: #cccccc;
    margin-left:18px;
    font-size: 13px;
}
.add-icon{
    display: flex;
}
/* Box 3 */

.search{
    display : flex;
    width: 100%;
   max-width: 850px;
    height: 38px;
    border-radius: 5px;
    background-color: chocolate;
}
.search-option{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
        border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
         width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
     font-size: 1.2rem;
background-color: rgb(251, 171, 0);
        border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

}
span{
    font-size: 0.7rem;
        color: #cccccc;

}
.adr-second{
    
    font-size: 0.85rem;
    font-weight: 700;
}
:hover.search{
    border: 2px solid orange;
}
.nav-cart{
    display: flex;
    font-size: 30px;
    align-items: center;
    align-content: center;
}
.cart-text{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel{
    height: 40px;
    color: white;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-options p{
    display: inline;
        margin-left: 15px;

}
.panel-options{
    width: 70%;
    font-size: 0.85rem;
    font-weight: 700;
}

.panel-shop{
    font-size: 0.9rem;

}
.hero{
    height: 350px;
    background-size: cover;
    background-image: url('images/hero.jpg');

}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(251, 103, 43);
}
.box
{
min-height:300px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.box1-image
{
min-height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color: #007185;
    margin-bottom: 10px;
}
footer{
    margin-top: 20px;
}
.footer-1{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}
.footer-2{
    background-color: #222f3d;
    color: white;
min-height:300px;
    display: flex;
    justify-content: space-evenly;
 
}
 ul a{
    display: block;
    text-decoration: none;
    color: #DDDDDD;
    margin-top: 8px;
 }
 ul p{
    margin-top: 10px;
 }
 .footer-3{
    background-color: #222f3d;
    color: white;
    height: 60px;
    border-top: white solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .logo{
    background-image: url('images/Amazon.png');
    background-size: cover;
        height: 50px;
    width: 140px;
 
}
.footer-4{
    background-color: #0f1111;
    color: white;
    height: 100px;
     font-size: 0.75rem;
text-align: center;
}
.pages {

            padding: 25px;;
}
.copyright{
   
    padding: 5px;
}
.pages a{
    text-decoration: none;
    color: #DDDDDD;
    margin: 0px 10px;
}
img{
    max-width:100%;
    height:auto;
}
.box1-image{
    background-size: cover;
    background-position: center;
}
@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        scale: 0.9;
        height: auto;
        gap: 10px;
        padding:10px;
    }

    .search{
        width: 95%;
    }

    .panel-options{
        display:none;
    }

    .box{
        width: 90%;
    }

    .hero{
        height:200px;
    }
}
@media (max-width: 1024px){

    .box{
        width:45%;
    }

    .search{
        max-width:500px;
    }
}
